// COLORS

// Logo colors.
$logo-gold:					#ecbf2c;					// Gold
$logo-crimson:				#7f0000;					// Blood red
$logo-dark-gray:			#6d6d6d;					// Dark steel
$logo-light-gray:			#8e8e8e;					// Light steel
$logo-brown:				#3a2525;					// Brown clothing
$logo-red:					#2c0202;					// Red clothing
$logo-black:				#000000;					// Black
$logo-white:				#e6e6e6;					// Off-white

// Theme colors.
$black-tint:				#190f0f;					// Off-black with red tint.
$dark-gray-tint:			#281e1e;					// Dark gray with red tint.
$light-gray-tint:			#463c3c;					// Light gray with red tint.

// MISCELLANEOUS
$mobile-breakpoint:			750px;						// Screen width to be considered "mobile".